@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow-x: none;
}

a{
    text-decoration: none;
}

body{    
    background-color: #FFFFFF;
}

html{
    height: 100vh;
    width: calc(100vw - (100vw - 100%));
    font-family: 'Lato', sans-serif;
}

h4{
    color: red;
}

iframe{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 80%;
    height: width;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    text-align: center;
    list-style-position: inside;   
    list-style: none; 
}


.navbar{
    margin-bottom: 30px;
}

.nav-link {
    color: white !important;
}

.active {
    color: #c0c1c4 !important; 
}


.navbar-brand {
    max-width: 90%;
}

.navbar-default {
    background-color: #464CA4;
    text-decoration: none;
}

#logo{
    max-width: 40%;
}

#main{
    text-align: center;
}


#official{
    text-align: left;
}




